.button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  gap: 18px;
  max-width: 100%;
  border-radius: 10px;
  border: 0;
  word-break: break-word;
  text-align: center;
  vertical-align: center;
  transition: background-color .5s ease-in-out;
  opacity: 1;
  padding: 23.5px 54.5px;
  background-color: $cl_green-200;
  color: $cl-white-200;

  &:hover {
    cursor: pointer;
    background-color: $cl_green-100;

  }

  &:disabled {
    cursor: initial;
    background-color: gray;
  }

}