//typography
@mixin typography_hero {
  font: 700 36px/52px $font_playfair;

  @include media-md {
    font-size: 48px;
    line-height: 62px;
  }

  @include media-xl {
    font-size: 64px;
    line-height: 85px;
  }
}

@mixin typography_subtitle {
  font: 400 18px/23px $font_open_sans;

  @include media-md {
    font-size: 24px;
    line-height: 33px;
  }
}

@mixin typography_button {
  font: 700 18px/23px $font_open_sans;

  @include media-md {
    font-size: 24px;
    line-height: 33px;
  }
}

@mixin typography_product-title {
  font: 700 18px/23px $font_open_sans;

  @include media-md {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin typography_product-about {
  font: 400 18px/23px $font_open_sans;

  @include media-md {
    line-height: 25px;
  }
}

@mixin typography_product-price {
  font: 700 24px/36px $font_open_sans;

  @include media-md {
    line-height: 33px;
  }
}

@mixin typography_link {
  font: 400 20px/26.5px $font_playfair;
  letter-spacing: 0.05em;
  color: $cl_green-100;
  transition: .3s ease;

  &:hover {
    color: $cl_green-200;
  }
}

.typography_hero {
  @include typography_hero
}

.typography_subtitle {
  @include typography_subtitle
}

.typography_button {
  @include typography_button
}

.typography_product-title {
  @include typography_product-title
}

.typography_product-about {
  @include typography_product-about
}

.typography_product-price {
  @include typography_product-price
}

.typography_link {
  @include typography_link
}

