//fonts
$font_open_sans: 'Open Sans', sans-serif;
$font_playfair: 'Playfair Display', serif;

//breakpoint
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1200px;

//colors

$cl_green-100: #07484A;
$cl_green-200: #70908B;
$cl_green-300: #CAF3E5;
$cl_white-100: #FFFFFF;
$cl_white-200: #FDFBF8;
$cl_black: #000000;
$cl_blue-100: #E0EFF6;
$cl_pink-100: #F9D9DA;
$cl_pink-200: #EEEBFF;
$cl_yellow-100: #FFF4E7;
